body {
  font-family: 'Poppins', sans-serif;
  background-color: #A8DADC;
  color: #1D3557;
}

header {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

footer {
  border-top: 1px solid #e5e7eb;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.card {
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
}

.icon-ring {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.75rem;
  border: 2px solid currentColor;
  font-size: 1.25rem;
}

.custom-header {
  background-color: #1D3557;
}

.custom-sidebar {
  background-color: #1D3557;
  color: #F1FAEE
}

.custom-navlink:hover,
.custom-navlink.active {
  background-color: #E63946 !important;
  border-color: #E63946 !important;
  color: white !important;
}

.custom-navlink {
  color: #F1FAEE !important;
  text-decoration: none;
  width: 150px;
  text-align: center;
}

.custom-navlink:hover,
.custom-navlink.active {
  background-color: #457B9D; 
  color: #F1FAEE !important;
}

.register {
  background-color: #457B9D;
  color: #F1FAEE !important;
}
.register:hover,
.register.active {
  background-color: #E63946 !important;
  border-color: #E63946 !important;
  color: white !important;
}

.bg-purple {
  background-color: #6f42c1;
}

.action-badge {
  padding: 0.4em 0.8em;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.action-badge.bg-info:hover {
  background-color: #fff !important;
  color: var(--bs-info) !important;
  border: 1px solid var(--bs-info) !important;
}

.action-badge.bg-success:hover {
  background-color: #fff !important;
  color: var(--bs-success) !important;
  border: 1px solid var(--bs-success) !important;
}

.action-badge.bg-danger:hover {
  background-color: #fff !important;
  color: var(--bs-danger) !important;
  border: 1px solid var(--bs-danger) !important;
}

/* Ver Artículos (Azul Principal) */
.action-badge.bg-primary:hover {
  background-color: #fff !important;
  color: var(--bs-primary) !important;
  border: 1px solid var(--bs-primary) !important;
}

/* Añadir Artículo (Gris) */
.action-badge.bg-secondary:hover {
  background-color: #fff !important;
  color: var(--bs-secondary) !important;
  border: 1px solid var(--bs-secondary) !important;
}

